lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.7z
*.rar
*.pdf
*.exe
*.tar
.git
.jshintrc
npm-debug.log.*

pids
results

.idea
.vscode
npm-debug.log
node_modules
bower_components/
test
*.docx
*.xlsx
.DS_Store
/resource/.DS_Store
/views/.DS_Store
/.DS_Store
/resource/dist/js/.DS_Store
tingyun.json
temp/
#resource/dist
views/template/
/data
